html {
  font-family: sans-serif;
}

body {
  margin: 0;
  text-align: center;
  background-color: #322e2d;
  color: #f6f0ee;
}

#logo {
  width: 10rem;
  height: 10rem;
  object-fit: contain;
  margin-top: 4rem;
}

h1 {
  color: #e8d4b2;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas */
  gap: 1rem; /* Espacio entre las cards */
  margin: 2rem auto;
  max-width: 800px; /* Ajusta el ancho máximo según sea necesario */
}

.card {
  background-color: #3a3635;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  text-align: left;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3); /* Overlay oscuro para mejorar la legibilidad */
  z-index: 1;
}

.card h2,
.card p,
.card a {
  position: relative;
  z-index: 2;
}

.card h2 {
  color: #e8d4b2;
  margin-top: 0;
}

.card p {
  color: #f6f0ee;
}

.card a {
  color: #e8d4b2;
  text-decoration: none;
  font-weight: bold;
}

.card a:hover {
  text-decoration: underline;
}

/* Fondos temáticos para cada card */
.card-git {
  background-image: url('https://git-scm.com/images/logos/downloads/Git-Logo-2Color.png');
}

.card-github {
  background-image: url('https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png');
}

.card-github-actions {
  background-image: url('https://www.onelharrison.com/content/images/size/w2000/2022/11/0-Xhd9l-Sd1Yd-diwh.png');
}

.card-learning-branching {
  background-image: url('https://wac-cdn.atlassian.com/dam/jcr:389059a7-214c-46a3-bc52-7781b4730301/hero.svg?cdnVersion=1504');
}