name: Lint, Test and Deplooy

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  Deplyment-process:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v3
      - name: Install dependencies
        run: |
          cd second-action
          npm ci
      - name: Lint
        run: |
          cd second-action
          npm run lint
      - name: Test cases
        run: |
          cd second-action
          npm run test
      - name: Build project
        run: |
          cd second-action
          npm run build
      - name: Deploy
        run: |
          cd second-action
          echo "Deploying..."
